# Konfigurationsdatei für MultiLingo
# Bitte ersetzen Sie die folgenden Werte durch Ihre eigenen Azure API Schlüssel und speichern die Datei als 'config.py'

subscription_key = "Hier_Ihren_Translator_API_Schlüssel_eintragen"
location = "Hier_Ihre_Region_eintragen"
speech_key = "Hier_Ihren_Speech_Service_API_Schlüssel_eintragen"
service_region = "Hier_Ihre_Region_eintragen"
